<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1BF08470-E56F-494F-82B7-1049CD5D58D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB60185E-DB60-4468-A8B6-06CFCE061F81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36F67B29-D390-45D5-B64E-16066BDCF93D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>591AC9F5-8609-4DDE-B405-3BD41BA2F74C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3ECDFAB0-0DCA-4328-8187-5CDFBB288404</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D8DE1BB-839A-4CE1-BAEB-A51353CEFEB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49BCF9AB-67C6-4EB9-8E88-D8CD2352733E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>466435EA-66E1-4DEF-9313-7A885C5C275C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92F77F1A-7275-4936-B6F7-75BE2BFECA30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12ED2393-ED23-4EBF-8018-B74C3AD6FCC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94812B8D-A0F1-4499-B26C-CBEEC8B6D3BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42A3F422-25B9-48E7-92F5-BE338EDDF9C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B47330A9-2F8D-4687-9798-34BE2CFB3D61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5138740C-D88C-420D-A562-A1F705C88981</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2A8869A-EBA7-4833-B4FD-8CAC108AB698</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D42C3FDA-B11B-424B-A5B9-9AF6420BBB02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open custom URL in specified browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ac</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Alpha in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://spaceneedle-alpha.amazon.com/sn/start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://spaceneedle-alpha.amazon.com/sn/start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12ED2393-ED23-4EBF-8018-B74C3AD6FCC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>af</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Alpha in Firefox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>92F77F1A-7275-4936-B6F7-75BE2BFECA30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://spaceneedle-alpha.amazon.com/sn/start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1D8DE1BB-839A-4CE1-BAEB-A51353CEFEB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>as</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Alpha in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3ECDFAB0-0DCA-4328-8187-5CDFBB288404</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pcheliy.aka.corp.amazon.com:8443/sn/start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5138740C-D88C-420D-A562-A1F705C88981</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Devbox in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B47330A9-2F8D-4687-9798-34BE2CFB3D61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pcheliy.aka.corp.amazon.com:8443/sn/start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>466435EA-66E1-4DEF-9313-7A885C5C275C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>df</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Devbox in Firefox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>49BCF9AB-67C6-4EB9-8E88-D8CD2352733E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ds</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Devbox in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2A8869A-EBA7-4833-B4FD-8CAC108AB698</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pcheliy.aka.corp.amazon.com:8443/sn/start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D42C3FDA-B11B-424B-A5B9-9AF6420BBB02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iadc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open IAD in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>94812B8D-A0F1-4499-B26C-CBEEC8B6D3BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://us-east-1.quicksight.aws.amazon.com/sn/start/analyses</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42A3F422-25B9-48E7-92F5-BE338EDDF9C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://us-east-1.quicksight.aws.amazon.com/sn/start/analyses</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CB60185E-DB60-4468-A8B6-06CFCE061F81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iadf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open IAD in Firefox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1BF08470-E56F-494F-82B7-1049CD5D58D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://us-east-1.quicksight.aws.amazon.com/sn/start/analyses</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>591AC9F5-8609-4DDE-B405-3BD41BA2F74C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iads</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open IAD in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36F67B29-D390-45D5-B64E-16066BDCF93D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>12ED2393-ED23-4EBF-8018-B74C3AD6FCC3</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>1BF08470-E56F-494F-82B7-1049CD5D58D0</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>1035</real>
		</dict>
		<key>1D8DE1BB-839A-4CE1-BAEB-A51353CEFEB1</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>36F67B29-D390-45D5-B64E-16066BDCF93D</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>1165</real>
		</dict>
		<key>3ECDFAB0-0DCA-4328-8187-5CDFBB288404</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>42A3F422-25B9-48E7-92F5-BE338EDDF9C2</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>466435EA-66E1-4DEF-9313-7A885C5C275C</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>49BCF9AB-67C6-4EB9-8E88-D8CD2352733E</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>5138740C-D88C-420D-A562-A1F705C88981</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>591AC9F5-8609-4DDE-B405-3BD41BA2F74C</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1165</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>92F77F1A-7275-4936-B6F7-75BE2BFECA30</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>94812B8D-A0F1-4499-B26C-CBEEC8B6D3BF</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>B47330A9-2F8D-4687-9798-34BE2CFB3D61</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C2A8869A-EBA7-4833-B4FD-8CAC108AB698</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>CB60185E-DB60-4468-A8B6-06CFCE061F81</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>1035</real>
		</dict>
		<key>D42C3FDA-B11B-424B-A5B9-9AF6420BBB02</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
