<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0644A140-584D-4964-9297-16EA4378BDCE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>integtest||testowner</string>
			<key>text</key>
			<string>SNAX Spectrum Test Suite Maintenance  
SNAX Spect
SNAX Spectrum Test Suite Maintenance

SNAX Spectrum Test Suite Maintenance

SNAX Spectrum Test Suite Maintenance
SNAX Spectrum Test Suite Maintenance</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/SpaceNeedle_Secure_Wiki/Visualization_Team/Spectrum_Suites</string>
		</dict>
		<key>07E1A00C-26E7-48A9-94A9-B3DF41EF0CF2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quip</string>
			<key>text</key>
			<string>Quip</string>
			<key>url</key>
			<string>https://quip-amazon.com/all</string>
		</dict>
		<key>129773C6-7F3D-4371-B646-1839F4A9A1FC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>alpha</string>
			<key>text</key>
			<string>SpaceNeedleStaticContentDeployer-development (alpha)</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/SpaceNeedleStaticContentDeployer-development</string>
		</dict>
		<key>1A215315-ED1E-46CA-94A3-0559655A6787</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>snexweb||exploration||infra</string>
			<key>text</key>
			<string>SpaceNeedleExplorationDeployerInfra</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/SpaceNeedleExplorationDeployerInfra</string>
		</dict>
		<key>2925D70E-1E23-44CC-8F1A-AA9C522C71FE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>codesc</string>
			<key>text</key>
			<string>StaticContent</string>
			<key>url</key>
			<string>https://code.amazon.com/packages/SpaceNeedleWebsiteStaticContent/trees/mainline</string>
		</dict>
		<key>2F8A28BE-3B04-41E3-802B-B3258AC9B16F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pt</string>
			<key>text</key>
			<string>Phone Tool</string>
			<key>url</key>
			<string>https://phonetool.amazon.com/users/{query}</string>
		</dict>
		<key>31604241-BFC6-494E-A963-6EBA651DE8CC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>search||old||tickets</string>
			<key>text</key>
			<string>Search Old Tickets</string>
			<key>url</key>
			<string>https://t.corp.amazon.com/issues?q=%7B%22AND%22%3A%7B%22status%22%3A%7B%22OR%22%3A%5B%22Assigned%22%2C%7B%22OR%22%3A%5B%22Researching%22%2C%7B%22OR%22%3A%5B%22Work%20In%20Progress%22%2C%7B%22OR%22%3A%5B%22Pending%22%2C%7B%22OR%22%3A%5B%22Closed%22%2C%22Resolved%22%5D%7D%5D%7D%5D%7D%5D%7D%5D%7D%2C%22AND%22%3A%7B%22keyword%22%3A%22(%20Throttling%20Threshold%20exceeded)%22%2C%22AND%22%3A%7B%22category%22%3A%22AWS%22%2C%22AND%22%3A%7B%22type%22%3A%22QuickSight%22%2C%22item%22%3A%22UI-AutoCut%22%7D%7D%7D%7D%7D</string>
		</dict>
		<key>333E3AA9-2AA2-44E6-B19D-B688819E4715</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pl</string>
			<key>text</key>
			<string>Pipelines</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/search?prefix={query}</string>
		</dict>
		<key>37780E1C-4249-42B0-AFF0-3F0B3B984505</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>scd</string>
			<key>text</key>
			<string>SpaceNeedleStaticContentDeployer</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/SpaceNeedleStaticContentDeployer</string>
		</dict>
		<key>4275EE2F-39CA-4C1A-A002-D832B80463D9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>code</string>
			<key>text</key>
			<string>code</string>
			<key>url</key>
			<string>https://code.amazon.com/search?utf8=%E2%9C%93&amp;term={query}&amp;exact=&amp;filepath=&amp;repository=SpaceNeedle*%2C&amp;group=&amp;source_component_type=&amp;graph_type=&amp;ext=&amp;commit=Search</string>
		</dict>
		<key>4FDC1735-23CF-47DE-A207-7567CD304DD4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vega</string>
			<key>text</key>
			<string>Vega</string>
			<key>url</key>
			<string>https://console.harmony.a2z.com/spaceneedle-vega/?path=/story/welcome--page</string>
		</dict>
		<key>5013958A-0C5A-407E-B569-2066997796CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>web||spaceneedlewebsite||snwebsite</string>
			<key>text</key>
			<string>SpaceNeedleWebsite-development</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/SpaceNeedleWebsite-development</string>
		</dict>
		<key>50C83CB0-2BAD-4C75-ACBF-1C6E08D41401</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>unranked||customer tickets</string>
			<key>text</key>
			<string>unranked customer tickets</string>
			<key>url</key>
			<string>https://issues.amazon.com/issues/search?q=status%3A(Open)+containingFolder%3A(640048f9-306d-4f75-9798-5cdd5c84dc43)+isRanked%3A(False)+currentSeverity%3A(3+OR+4+OR+5)&amp;sort=lastUpdatedDate+desc</string>
		</dict>
		<key>6051F2BA-C57B-4590-8629-05583C30AE8D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vegaex</string>
			<key>text</key>
			<string>VegaEx</string>
			<key>url</key>
			<string>https://beta.console.harmony.a2z.com/spaceneedle-vega-extensions/?path=/story/introduction--page</string>
		</dict>
		<key>6A2EB2D4-0EBD-43AA-92BF-005E3FD0023D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cr||open</string>
			<key>text</key>
			<string>Open CRs</string>
			<key>url</key>
			<string>https://code.amazon.com/</string>
		</dict>
		<key>6BB01EF0-24DD-41F3-B5D8-A92E026419EA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>exploration||mcm</string>
			<key>text</key>
			<string>TM-105236: QuickSight Exploration Deployment [SpaceNeedleExplorationWeb]
TM-105236: QuickSight Exploration Deployment [SpaceNeedleExplorationWeb] Active
 TM-105236: QuickSight Exploration Deployment [SpaceNeedleExplorationWeb]</string>
			<key>url</key>
			<string>https://mcm.amazon.com/templates/TM-105236</string>
		</dict>
		<key>7459F2C0-4621-4812-88D1-EF58EF9E8FDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sage</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Sage</string>
			<key>url</key>
			<string>https://refresh.sage.amazon.dev/search?q={query}</string>
		</dict>
		<key>7B504B9B-D4BD-4A52-AD3A-46EF1FDD2140</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oncalls||quicksight</string>
			<key>text</key>
			<string>QuickSight oncalls</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/QuickSight/oncall</string>
		</dict>
		<key>7F34531A-2454-4968-9019-DFACCB445EEB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quicksight||sdc|| spaceneedleappservicesdcconfigdata</string>
			<key>text</key>
			<string>SpaceNeedleAppServiceSDCConfigData</string>
			<key>url</key>
			<string>https://code.amazon.com/packages/SpaceNeedleAppServiceSDCConfigData/logs?__session=eyJwa2ciOiJTcGFjZU5lZWRsZUFwcFNlcnZpY2VTRENDb25maWdEYXRhIiwidGFicyI6W3siZmlsZSI6IlNwYWNlTmVlZGxlQXBwU2VydmljZVNEQ0NvbmZpZ0RhdGEvY29tbWl0cy9iMDc2MDY5NCJ9LHsiZmlsZSI6ImxpYi9hbWF6b24vc2RjL0Fubm91bmNlbWVudHMvRGF0YS9lbl9VUy5qc29uIn0seyJmaWxlIjoiU3BhY2VOZWVkbGVBcHBTZXJ2aWNlU0RDQ29uZmlnRGF0YS9sb2dzIn1dfQ%3D%3D</string>
		</dict>
		<key>81E7120D-0523-480E-8310-6891B6604A78</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ranked||customer tickets</string>
			<key>text</key>
			<string>ranked tickets</string>
			<key>url</key>
			<string>https://issues.amazon.com/issues/search?q=status%3A(Open)+containingFolder%3A(640048f9-306d-4f75-9798-5cdd5c84dc43)+-label%3A(d4e4e3d5-2f95-4f7f-bad1-7d95864cbfe2)+-rank%3A(0)&amp;sort=extensions.backlog.rank+asc&amp;selectedDocument=43642dc7-098f-490a-84ef-a01a9a51ec85</string>
		</dict>
		<key>8AFC224C-00C6-443B-BE6A-DCBD8BE37738</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>exweb</string>
			<key>text</key>
			<string>SpaceNeedleExplorationWeb-development</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/SpaceNeedleExplorationWeb-development</string>
		</dict>
		<key>8DA0737F-E664-4670-AF5D-869C1770F6A7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>crhistory</string>
			<key>text</key>
			<string>CR History</string>
			<key>url</key>
			<string>https://code.amazon.com/users/{query}/activity?sorted=&amp;start_time=2020-01-01&amp;end_time=2024-09-25&amp;package_regex=&amp;branch_regex=&amp;commit_msg_regex=</string>
		</dict>
		<key>927B43B5-FD59-4827-A705-11598E0BFC3E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sprint||board||s</string>
			<key>text</key>
			<string>Sprintboard</string>
			<key>url</key>
			<string>https://sim.amazon.com/dashboards/QuickSight/Engineering/SNAX/eaae349d-7798-41ea-b891-307ba8949b78</string>
		</dict>
		<key>95726B89-566E-4457-B5DB-819B99AAB5F9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sim</string>
			<key>text</key>
			<string>SIM Tickets</string>
			<key>url</key>
			<string>https://t.corp.amazon.com/issues?q=%7B%22AND%22%3A%7B%22status%22%3A%7B%22OR%22%3A%5B%22Assigned%22%2C%7B%22OR%22%3A%5B%22Researching%22%2C%7B%22OR%22%3A%5B%22Work%20In%20Progress%22%2C%7B%22OR%22%3A%5B%22Pending%22%2C%7B%22OR%22%3A%5B%22Resolved%22%2C%22Closed%22%5D%7D%5D%7D%5D%7D%5D%7D%5D%7D%2C%22AND%22%3A%7B%22assignedGroup%22%3A%7B%22OR%22%3A%5B%22SpaceNeedle%22%2C%22Quicksight-AX%22%5D%7D%2C%22keyword%22%3A%22({query})%22%7D%7D%7D</string>
		</dict>
		<key>A68BAF0E-7E49-45BE-9AB0-AA8EC616D38C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>daily||todo</string>
			<key>text</key>
			<string>Daily Todo</string>
			<key>url</key>
			<string>https://quip-amazon.com/AE7WACU4V1pO/2024-Daily-Todo-Learning</string>
		</dict>
		<key>A78C3E72-B4AB-409F-BEFB-2070F26727DF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>meetings|amazon|meet</string>
			<key>text</key>
			<string>Meetings</string>
			<key>url</key>
			<string>https://meetings.amazon.com/#/</string>
		</dict>
		<key>AC2EC1E1-8FD9-4131-8F4C-6F3D6C6B7702</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>text</key>
			<string>Amazon Wiki</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/Main/Search?text={query}&amp;f_type=DOCUMENT&amp;f_locale=en&amp;f_locale=&amp;r=1</string>
		</dict>
		<key>B8274D66-57F8-4EBA-AC8B-C123DDEB730A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cp</string>
			<key>text</key>
			<string>Package Search</string>
			<key>url</key>
			<string>https://code.amazon.com/packages/{query}/trees/mainline</string>
		</dict>
		<key>C89F5735-BCE1-4205-8132-8F80BA83DF2C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>is</string>
			<key>text</key>
			<string>Internal Search</string>
			<key>url</key>
			<string>https://is.amazon.com/search/ALL?q={query}
https://is.amazon.com/search/ALL?q={query}
https://is.amazon.com/search/ALL?q={query}</string>
		</dict>
		<key>CD526116-3707-44E5-BC8F-C7664F268CB1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mui</string>
			<key>text</key>
			<string>mui v4 api</string>
			<key>url</key>
			<string>https://v4.mui.com/api/{query}/</string>
		</dict>
		<key>CFD47304-A431-463A-8EA0-6B6E4183DB50</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>chat||bot||gpt</string>
			<key>text</key>
			<string>Diya</string>
			<key>url</key>
			<string>https://chat.com.amazon.dev/</string>
		</dict>
		<key>D26E3FB5-BC3F-488B-9F3B-159C3E0BCA37</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>is</string>
			<key>text</key>
			<string>Isengard</string>
			<key>url</key>
			<string>https://isengard.amazon.com/console-access</string>
		</dict>
		<key>E36971E2-485E-4D02-99FC-BB30FADDCA3B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>devbox</string>
			<key>text</key>
			<string>Devbox</string>
			<key>url</key>
			<string>https://pcheliy.aka.corp.amazon.com:8443</string>
		</dict>
		<key>E4949E85-265D-41A8-B916-38C19D382724</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>airport||region||code</string>
			<key>text</key>
			<string>Airport Codes</string>
			<key>url</key>
			<string>https://w.amazon.com/bin/view/AmazonTranslate/Documentation/RegionAirportCodeMapping/</string>
		</dict>
		<key>E61C1E2A-F16E-4416-9B55-BD794CD6004C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>primary||oncall</string>
			<key>text</key>
			<string>Primary Oncall</string>
			<key>url</key>
			<string>https://oncall.corp.amazon.com/#/view/quicksight-ax/schedule</string>
		</dict>
		<key>F3BCF4AB-8819-47AE-9B3A-4E75A4E2D4E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sdc||appconfig</string>
			<key>text</key>
			<string>QuickSightSDC</string>
			<key>url</key>
			<string>https://pipelines.amazon.com/pipelines/QuickSightSDC</string>
		</dict>
		<key>F49C35AA-59ED-4041-A6BF-36A5A443BB91</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sev2</string>
			<key>text</key>
			<string>sev2</string>
			<key>url</key>
			<string>https://t.corp.amazon.com/issues/?q=extensions.tt.status%3A%28Assigned%20OR%20Researching%20OR%20%22Work%20In%20Progress%22%20OR%20Pending%29%20AND%20currentSeverity%3A%281%20OR%202%20OR%202.5%29%20AND%20extensions.tt.assignedGroup%3A%22Quicksight-AX%22</string>
		</dict>
		<key>FB5C8177-5CD1-42E4-8147-2ACB1F62D8AE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>noe</string>
			<key>text</key>
			<string>Notes on Everything</string>
			<key>url</key>
			<string>https://quip-amazon.com/TvpYOCEzGPLs/NOE</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
